<div class="nested-fields">
  <%= f.text_field :product_sku, placeholder: "SKU" %></td>
  <%= f.text_field :product_description, placeholder: "Description" %></td>
  <%= link_to_remove_association "-", f %></td>
</div>