<table>
  <%= render partial: 'line_items', collection: order.line_items, as: :line_item %>
</table>
<table>
  <tr>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
</table>