<h1>Products</h1>

<h1><%= @product.name %></h1>
<ul>
<% @product.variants.each do |variant| %>
  <li><%= variant.name %>, <%= @option.name %><%#= option.variants.map(&:name).join(", ") %></li>
<% end %>

<% @product.variants.each do |variant| %>
  <li><%= variant.name %></li>
<% end %>
</ul>


